<h1><%= t("views.products.name_plur") %></h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.products.name") %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to t("views.show"), product,
          class: "btn btn-outline-secondary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
